/* Estilos adicionales para el panel de admin */
.admin-container h1, .admin-container h2 { color: var(--text-dark); }
form input, form select { width: 100%; padding: 12px; margin-bottom: 15px; border: 1px solid var(--border-color); border-radius: 6px; font-size: 16px; box-sizing: border-box; }

.ticket-list {
    list-style: none;
    padding: 0;
}
.ticket-item {
    padding: 15px;
    border-bottom: 1px solid var(--border-color);
}
.ticket-item:last-child {
    border-bottom: none;
}
.ticket-item strong {
    color: var(--primary-color);
}

/* V ESTILOS NUEVOS PARA EL CHECKBOX V */
.form-group-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group-checkbox input[type="checkbox"] {
    width: auto; /* Anula el width: 100% para los checkboxes */
    margin: 0 10px 0 0; /* Espacio entre el checkbox y el texto */
}

.form-group-checkbox label {
    margin: 0;
    font-weight: 500;
}